<% include ./partials/header %>      

<style>
    .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
    }
    .bg-grey {
background-color: #aaa9a9;
}
    
    .container-fluid {
      padding: 60px 50px;
    }
    .logo {
font-size: 200px;
}
@media screen and (max-width: 768px) {
.col-sm-4 {
text-align: center;
margin: 25px 0;


}
}
.jumbotron text-center/button{
text-align: center;
}
</style>

<div class="container">
</br>
    <div class="jumbotron text-center">
        <h1>ABOUT US</h1> 
        <p>We specialize in making donating easier</p> 
        
      </div>
  
<div class="container-fluid">
    <div class="text-center">
          <h2>Mission Statement</h2>
          <p> Charinforg is a website that allows the user to access information about the charity, organizations that want to show their events to the people around them. The organization must input exactly where the money earned from each donation is used towards. This ensures that users would also be able to see where their money is going. 
            Charinforg, is intended to be designed on pure transparency, thus we shall view the income of every organization, and charity that signs up.
          </p>
        </div>
      </div>

  <div class="container-fluid bg-grey">
    <div class="row">
        <h2>Company History</h2>
     <p>Charinforg was created in 2020 by Briana Yamamoto, Khilna Rawal and Markel Floyd. Months before these colleagues sat down and came up with this website idea known as Charinforg with the intentions to make donating easier, safe, and efficient. Once the Idea was set, a plan was Initiated and Charinforg as you know it today came to existence.  </p>
      </div>
      </div>
  
  <div class="container-fluid">
        <div class="text-center">
        <h2>Meet The Team</h2>
        </div>
        
        <div class="Container-fluid">
          <div class="row padding">
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Briana Yamamoto</h4>
                  <p class="card-text">Major: Computer Science</p>
                    <p class="card-text">Email: Briana.Yamamoto@email.Saintleo.edu</p>
                  </p>
                 
                </div>
              </div>
          </div>
        
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Khilna Rawal</h4>
                <p class="card-text">Major: CIS</p>
                  <p class="card-text">Email: Khilna.Rawal@email.Saintleo.edu</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Markel Floyd</h4>
              <p class="card-text">Major: Computer Science</p>
                <p class="card-text">Email:  Markel.Floyd@email.Saintleo.edu</p>
              </p>
             
            </div>
          </div>
        </div>
        
        
         </div>
         </div>
