<style>
  .map-container{
overflow:hidden;
padding-bottom:56%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:85%;
width:100%;
position:absolute;
}
</style>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href='/'><img src="/Logo.png" width="172" height="50" alt="">
          </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/events">Events
                            <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/myprofile">My Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/support">Support</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>

        </div>
          </nav>
          <div class="col-sm-8 text-left"> 
            <h1>Event Highlights</h1>
          </div>
          <img src="/img/img1.jpeg" class="img-fluid" alt="Responsive image">

          <div class="jumbotron">
            <h1 class="display-4">Highlighted organization</h1>
            <p class="lead">Type of organization</p>
            <hr class="my-4">
            <p>More information about this organization</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Donate Now</a>
          </div>   

          <div class="container-fluid">    
            <div class="row content">
              <div class="col-sm-3 sidenav">
                <div class="container">
                  <input class="form-control" id="listSearch" type="text" placeholder="Type something to search list items">
                  <br>
                  <ul class="list-group" id="myList">
                    <li class="list-group-item">First item</li>
                    <li class="list-group-item">Second item</li>
                    <li class="list-group-item">Third item</li>
                    <li class="list-group-item">Fourth item</li>
                  </ul>
                </div>
                </div>
                <div class="col-sm-8 text-left"> 
                  <h1>Events Near Me</h1>
                  <div class="card">
                    <div class="card-header">
                      Selected Event
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Event Title</h5>
                      <p class="card-text">Short description of event</p>
                      <a href="#" class="btn btn-primary">Learn More</a>
                      <a href="#" class="btn btn-primary">Donate Now</a>
                    </div>
                  </div>
                  <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                      style="border:0" allowfullscreen></iframe>
                  </div>
                </div>
        </body>
</html>