<% include ./partials/header %>      

<div class="container">
<h1 class="mt-4">My Profile</h1>
<p class="lead mb-3">Welcome <%= organization.name %></p>
<a href="/organization/logout" class="btn btn-secondary">Logout</a>
</div>
