<% include ./partials/header %>      

<div class="container">

<h3>Thank you for your donation!</h3>

<li><a href="/myprofile"><button type="button" class="btn btn-primary"> Track Donations </button></a></li>

</div>