<% include ./partials/header %>  

<div class="container">

<style>
.jumbotron {
  background-color: #f4511e;
  color: #fff;
  padding: 100px 25px;
}


.container-fluid {
  padding: 60px 50px;
}
.logo {
font-size: 200px;
}
@media screen and (max-width: 768px) {
.col-sm-4 {
text-align: center;
margin: 25px 0;


}
}
.jumbotron text-center{
text-align: center;
}
</style>
</br>
<div class="jumbotron text-center">
<h1>Support Center</h1> 
<p>Help is provided Here</p> 
</div>

<h2 class="text-center">FAQs</h2>

<h4>Do I sign up as a User or Organization?</h4>
<p>If you are representing an organization who would like to add events and input exactly where a donation goes, sign up as an organization!
    If you are seeking events and organizations to donate to and be able to track exacly where your money goes, sign up as a user!
    </p>
</br>
<h4>How do I create an event?</h4>
<p>If you are an organization, you may create an event! On the events page, click on “New Event” and fill out the form to request an event. </p>
</br>
<h4>As a user, how do I donate to an event?</h4>
<p>On the events page, you may learn more about each event by clicking on the “Learn More” button. If you click on the donate now, it will redirect you to Paypal to complete your donation.</p>
</br>
<h4>How do I see who I donated to?</h4>
<p>On your user dashboard, you will be able to see all the events you have donated to as well as statistics that show where your donation went.</p>
</br>

</div>