<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sign up as an organization</h5>
          <p class="card-text">Are you representing an organization that would like to add new charity events?</p>
          <a href="/organization/orgregister" class="btn btn-primary">Organization</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sign up as a user</h5>
          <p class="card-text">Are you signing up as a donor that would like to track exactly where your donations are going?</p>
          <a href="/users/register" class="btn btn-primary">User</a>
        </div>
      </div>
    </div>
  </div>